logging:
  version: 1
  disable_existing_loggers: False

  formatters:
    custom:
      class: hephaestus.logging.formatters.CustomFormatter

  handlers:
    console:
      class: logging.StreamHandler
      formatter: custom
      level: INFO
      stream: ext://sys.stdout

    elastic:
      class: hephaestus.logging.elastic_handler.ElasticHandler
      level: DEBUG

  loggers:
    elasticsearch:
      propagate: false
      level: WARNING
      handlers:
        - console

    asyncio:
      level: INFO
    urllib3:
      level: INFO
    matplotlib:
      level: INFO
    amqp:
      level: WARNING
    amqp.connection.Connection.heartbeat_tick:
      level: INFO
    celery:
      level: INFO
    kombu:
      level: INFO
    werkzeug:
      level: INFO

    py.warnings:
      level: CRITICAL

    debug:
      level: ERROR

    langchain_core.callbacks.manager:
      level: ERROR

    engineio.server:
      level: WARNING

    socketio.server:
      level: WARNING

    elastic_transport.transport:
      level: WARNING


  root:
    level: INFO
    handlers:
      - console
      - elastic

  default_logger_level: INFO

  logger_levels:
    # Shortcut to set the levels for loggers
    # Here the logger levels must be in a dictionary and not list structure
    # because otherwise, all the logger level settings that we have here
    # will be deleted by adding settings in other places unintentionally.
    debug: []
    info: []
    WARNING: []
    error: []
    critical: []

celery:
  task_serializer: json
  accept_content: [json]
  timezone: "Europe/Warsaw"
  result_serializer: json
  result_backend: "rpc://"
  worker_hijack_root_logger: False
  worker_disable_rate_limits: True
  worker_prefetch_multiplier: 1
  task_acks_late: True
  worker_max_tasks_per_child: 100
  worker_max_memory_per_child: 200000
  task_soft_time_limit: 300
  task_time_limit: 600
  task_reject_on_worker_lost: True
  task_ignore_result: True
  broker_connection_retry_on_startup: True
  broker_connection_retry: True
  broker_connection_max_retries: 10
  broker_connection_retry_delay: 5.0
  broker_heartbeat: 30
  broker_pool_limit: 10
  result_backend_transport_options:
    retry_policy:
      timeout: 5.0
      max_retries: 3
  broker_transport_options:
    retry_policy:
      timeout: 5.0
      max_retries: 3
    confirm_publish: True
    max_retries: 3
    interval_start: 0
    interval_step: 0.2
    interval_max: 0.2
